

body{
    font-family: 'Comfortaa', cursive;
    margin: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.nav-ul li{
    padding: 10px;
}

a{
    color: black;
}
.nav-ul a:hover{
    color: RGB(135, 206, 250);
}
a:link{
    text-decoration: none;
}

nav input {
    font-family: 'Comfortaa', cursive;
    margin: 10px;
    padding: 5px;
    height: 20px;
}

#title{
    background-image: url(./2.1_Tinghir.JPG);
    height: 700px;
    background-size: cover;
}

#title h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}

#title p{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#first-second-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.article{
    flex-wrap: wrap;
}
#get-ready{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
}
#get-ready h1{
    font-size: 40px;;
}

#get-ready div{
    text-align: center;
}

#get-ready article{
    width: 200px;
    padding: 30px;
    margin: 20px;
    margin-bottom: 40px;
    border: solid RGB(135, 206, 250) 2px;
    border-radius: 10px;
    height: 200px;
}

#get-ready a:link{
    text-decoration: none;
}
#get-ready article:hover{
    background-color:#F5F5F5;
}

#get-ready img{
    width: 50px;
}

#destinations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: RGB(135, 206, 250);
    padding: 20px;
    padding-bottom: 100px;
}

#destinations h2{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

#gmap_canvas{
    width:60%;
    height:400px;
}

#packing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

#packing li{
    list-style: none;
    padding: 10px;
}
#packing input{
    margin: 10px;
}

#packing h2{
    font-size: 40px;
}

#packing input{
    width: 50px;
}

#pack-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.packing-stuff{
    width: 200px;
    padding: 30px;
    margin: 20px;
    margin-bottom: 40px;
    border: solid RGB(135, 206, 250) 2px;
    border-radius: 10px;
    height: 250px;
    display: none;
}
#pack-items h2{
    font-size: 20px;
}

#pack-items img{
    width: 50px;
}
#suitcase{
    width: 15%;
    margin: 20px;
}
#pack-items ul{
    text-align: left;
    padding-left: 0;
}


#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: RGB(135, 206, 250);
    padding: 20px;
    padding-bottom: 100px;
    color: white;
}

#contact h1{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
#contact form{
   
}

#contact div{
    padding: 15px;
    text-align: center;
    width: 300px;
}

#contact input{
    padding: 5px;
    margin: 5px;
    width: 80%;
}

#planning{
    background-color: RGB(135, 206, 250);
    height: 300px;
}

#tips h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#tips p{
    display: flex;
    justify-content: center;
}

#photos{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 30px;
   margin: 30px;
}

#tips div{
    margin: 20px;
}

#image-1{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/chefchauen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 1.0;
}

#image-2{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/colorado.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#image-3{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#image-4{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/yosemite.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#image-5{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/nepal.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#image-6{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/nepal2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#image-7{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/udaipur.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#image-8{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    background-image: url(./Photos/utah.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}